ul {
    list-style-type: none;
}
li{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 40px;
    padding: 40px;
}
div{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
span{
    font-weight: normal;
}

span.title{
    text-decoration: line-through;
}