.footer {
    display: flex;
    flex-direction: column;

}


.imageSVG {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    height: 50px;
    max-width: 200px;
    width: 100%;
}

.imageSVG > a {
    display: block;
    width: 35px;
    height: 35px;
}
a svg path{
    fill: red;
}

